*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100svw;
    height: 100svh;
}
header{
    width: 50%;
    padding: 20px;
    justify-self: center;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(137, 131, 141);
    ;

}
#movie-form{
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}
h2{
    font-size: 1.1rem;
}
.star-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stars i{
    color: #e6e6e6;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.stars i.active{
color:#ff9c1a;
}